
<!-- <a routerLink="display">Display</a> &nbsp; &nbsp; &nbsp; 
<a routerLink="search"> Search </a> &nbsp; &nbsp; &nbsp; 
<a routerLink="register">Register</a> &nbsp; &nbsp; &nbsp; 
-->
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="display">Display</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="search">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="register">Add Post</a>
  </li>
 </ul>

<router-outlet></router-outlet>